@model List<ControlVee.Port.InMan.DShop.Components.Models.BatchModel>

<html>
<body>
    <ul class="pre-scrollable list-group-horizontal list-unstyled d-flex flex-wrap">
        @{
            foreach (BatchModel batch in Model)
            {
                <li>
                    <content class="batch-partial-view list-group-item">
                        <div class="batch-card">
                            <div class="card-header card-title">
                                <div id="progress-value_@batch.ID.ToString()" class="col-form-label"></div>
                                <div class="progress">
                                    <div id="progress-bar_@batch.ID.ToString()" class="progress-bar" role="progressbar"></div>
                                </div>
                            </div>

                            <script type="text/javascript">
                window.addEventListener("load", progBar, false);

              function progBar () {
                var minTime = 0;
                const totalMiliIn_N = 200;
                var percent = 0;
                var percentMax = 100;

                var myVar = setInterval(time, totalMiliIn_N);

                function time() {

                    var progbar = document.getElementById("progress-bar_@batch.ID.ToString()");
                    var progbarLabelValue = document.getElementById("progress-value_@batch.ID.ToString()");

                    var colorFresh = "#61ed29";
                    var colorStable = "#0366d6";
                    var colorGettingStale = "#bee45e";
                    var colorExpired = "#eb5858";

                    switch (true) {
                        case (percent > 10 && percent < 75):
                            progbar.style.background = colorStable;
                            break;
                        case (percent >= 75 && percent < percentMax):
                            progbar.style.background = colorGettingStale;
                            break;
                        case (percent > percentMax):
                            progbar.style.background = colorExpired;
                            break;
                        default:
                            progbar.style.background = colorFresh;
                    }

                    if (percent >= percentMax) {
                        percent = percentMax;
                    }

                    progbar.style.width = percent + "%";
                    progbarLabelValue.innerHTML = minTime + " time units";

                    minTime++;
                    percent++;
                }
            };
                            </script>

                            <div class="card-body">
                                <ul class="list-unstyled">
                                    <li>@batch.ID</li>
                                    <li>@batch.NameOf</li>
                                    <li>@batch.Started</li>
                                    <li>@batch.Total</li>
                                    <li>
                                        <content>
                                            <mark>
                                                @Html.ActionLink("complete", "complete", new { /* id = Model.PrimaryKey */ })
                                            </mark>
                                        </content>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </content>
                </li>
            };
        }
    </ul>

    <button id="createBatch" class="btn btn-outline-success float-right">create</button>

    <select id="nameOfDoughnutBatch" class="form-select col-4 float-right">
        <option value="Classic Glazed">Classic Glazed</option>
        <option value="Strawberry PopTart">Strawberry PopTart</option>
        <option value="Chocolatte">Chocolatte</option>
        <option value="Capn Crunched">Capn Crunched</option>
        <option value="Emma noms">Emma noms</option>
        <option value="Shred Tha Gnar">Shred Tha Gnar</option>
        <option value="Sugar High">Sugar High</option>
    </select>
    <select id="quantityOfBatch" class="form-select col-4 float-right">
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="48">48</option>
    </select>

    <script type="text/javascript">
        document.getElementById("createBatch").addEventListener("click", createBatchRecord, false);

        function createBatchRecord() {
            var nameOf = document.getElementById("nameOfDoughnutBatch").value;
            var total = document.getElementById("quantityOfBatch").value;
            $.ajax({
                type: 'Post',
                url: '/Home/CreateBatch',
                dataType: 'json',
                data: "data=" + JSON.stringify({ id: 0, nameOf: nameOf, total: total }),
                success: function (data) {
                    console.log(data);
                },
                error: function () { console.log("FAIL ON CREATE BATCH"); }
            });
        };
    </script>


</body>
</html>

